*
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #ccc;
}

#title
{
  margin: 2% 5%;
  width: 90%;
}

#counter
{
  background-color: #cb4b32;
  color: #eee;
  margin: 2% 5%;
  width: 90%;
  font-weight: bold;
  font-size: 30pt;
  padding: 5pt 0;
  text-align: center;
}

#dice_dude
{
  width: 20%;
  padding: 0 40%;
}
